<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Welcome User</h1>
    <hr>
    <h2><%= title %></h2>
    <h3><%= description %></h3>
    <img src="img/logo.png" alt="McDonalds Logo">
</body>
<%- include('./partials/bootstrap_scripts') %>
</html>